@import "tailwindcss";

@theme {
  --color-background: #0B0B0F;
  --color-surface: #11111a;
  --color-border: #1f1f2e;

  --color-text-primary: #e6e6eb;
  --color-text-secondary: #9a9aa3;

  --color-purple: #7c3aed;
  --color-purple-hover: #6d28d9;

  --color-magenta: #db2777;
  --color-magenta-hover: #be185d;
}
